.item-product {
  border: 0;
  padding: 15px;
  // padding: 15px 30px 15px;
  position: relative;
  overflow: hidden;
  height: 100%;
  border: 1px solid #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  &:hover > .item-product__hover {
    transform: translate(0%, 0);
  }
  // &:hover > .item-product__body {
  //   opacity: 0;
  // }

  &:hover > .body--onHover {
    opacity: 0;
  }
}

.item-product__labels {
  position: absolute;
  left: 15px;
  top: 15px;
}

.item-product__image {
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
  img {
    max-width: 100%;
    max-height: 240px;
  }
}
.item-product__body {
  padding: 0 10px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease;
}
.item-product__title {
  color: #36949f;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  display: inline-block;
  margin: 0 0 5px 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  white-space: initial;
  span {
    display: block;
    font-weight: 900;
  }
}
.item-product__footer {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.item-product__add {
  width: 40px;
  height: 40px;
  background: url(../../assets/img/icons/cart_gray.png) 0 0 no-repeat;
}

.item-product__old-price {
  flex: 1 1 100%;
  text-align: right;
  color: #999;
  font-size: 18px;
  font-weight: 300;
  text-decoration: line-through;
}

.item-product__price {
  color: #333;
  font-size: 24px;
  font-weight: 900;
}
.rub {
  &::after {
    font-size: 18px;
    content: "₽";
  }
}
